/* Center column */
.col-sm-8 {
    margin: auto;
    padding: 100px;
}

/* Center h1 tags */
h1 {
    text-align: center;
}

/* Center paragraph tags */
p {
    text-align: center;
}

/* Center "start quiz" button on home page */
#start-quiz {
    margin: auto;
}

button {
    display: block;
    margin: 10px 0px 10px 0px;
    border: rgb(96, 79, 255);
    border-radius: 10px;
    background: rgb(96, 79, 255);
    color: white;
    padding: 10px;
  }

/* Styling for submit button on end screen */
#initial-submit {
    display: inline;
    margin-left: 10px;
    padding: 4px;
}

ul {
    list-style-type: none;
}