/* Center column */
.col-sm-8 {
    margin: auto;
    padding: 100px;
}

/* Center h1 tags */
h1 {
    text-align: center;
}

/* Center paragraph tags */
p {
    text-align: center;
}

/* Center "start quiz" button on home page */
#start-quiz {
    margin: auto;
}


button {
    display: block;
    margin: 10px 0px 10px 0px;
    border: 2px black solid;
    border-radius: 10px;
    background: rgb(96, 79, 255);
  }